@font-face {
	font-family: 'Gordita';
	src: url('../fonts/gorditaregular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/gorditaregular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/gorditaregular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/gorditaregular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/gorditaregular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'GorditaMedium';
	src: url('../fonts/gorditamedium-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/gorditamedium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/gorditamedium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/gorditamedium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/gorditamedium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/gorditamedium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'GorditaBold';
	src: url('../fonts/gorditabold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/gorditabold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/gorditabold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/gorditabold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/gorditabold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/gorditabold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Gordita';
	overflow-x: hidden;
}

h1 {
	color: #444242;
	font-size: 1.5rem;
	line-height: 1.3;
	letter-spacing: 1.4px;
	z-index: 10;
	font-family: 'GorditaMedium';
}

/*Keeps the columns horizontal*/
.container-fluid {
	padding: 0;
}

.full-height {
	height: 100vh;
}

row > .col-xs-3 {
	display:flex;
	flex: 0 0 25%;
	max-width: 25%
}

.flex-nowrap {
	-webkit-flex-wrap: nowrap!important;
	-ms-flex-wrap: nowrap!important;
	flex-wrap: nowrap!important;
}
.flex-row {
	display:flex;
	-webkit-box-orient: horizontal!important;
	-webkit-box-direction: normal!important;
	-webkit-flex-direction: row!important;
	-ms-flex-direction: row!important;
	flex-direction: row!important;
}

/*Homepage column styling*/
.border {
	border: 0px solid #e9ecef!important;
	border-right: 1px solid #d4d4d4 !important;
}

.red,
.red-tool {
	background-color: #FB1438;
}

.red-white {
	background-color: #fff;
}

.red img {
	max-width: 150%;
	position: absolute;
	opacity: 0.8;
}

.blue img,
.pink img,
.green img,
.orange img,
.purple img,
.dark-blue img,
.yellow img {
	display: none;
	max-width: 150%;
	position: absolute;
	opacity: 0.8;
}

.red img {
	top: 3%;
	left: 30.5%;
	width: 120%;
}

.blue img {
	top: 3%;
	left: 31%;
	width: 120%;
}

.pink img {
	top: 2.5%;
	left: -51%;
	width: 120%;
}

.green img {
	top: 21%;
	left: -72%;
	width: 150%;
}

.orange img {
	top: 9%;
	left: 53.5%;
	width: 140%;
}

.purple img {
	top: 6%;
	left: 32.5%;
	width: 150%;
}

.dark-blue img {
	top: 6.5%;
	left: -73.3%;
	width: 150%;
}

.yellow img {
	top: 2.5%;
	left: -53%;
	width: 120%;
}

.blue:hover img,
.pink:hover img,
.green:hover img,
.orange:hover img,
.purple:hover img,
.dark-blue:hover img,
.yellow:hover img {
	display: block;
} 

.red a span,
.blue a span,
.pink a span,
.green a span,
.orange a span,
.purple a span,
.dark-blue a span,
.yellow a span { 
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 100;
}

.blue:hover {
	background-color: #3DA8E9;
}

.pink:hover {
	background-color: #D32C86;
}

.green:hover {
	background-color: #31D2B2;
}

.orange:hover {
	background-color: #F1882E;
}

.purple:hover {
	background-color: #6B4494;
}

.dark-blue:hover {
	background-color: #226CE0;
}

.yellow:hover {
	background-color: #FFDA2F;
}

.st1-red {
	fill: #fff;
}

.text-dark {
	color: #444242;
}

.st1-blue,
.st1-pink,
.st1-green,
.st1-orange,
.st1-purple,
.st1-dark-blue, 
.st1-yellow {	
	fill: #444242;
}

.blue:hover h1, 
.pink:hover h1, 
.green:hover h1,
.orange:hover h1,
.purple:hover h1,
.dark-blue:hover h1,
.yellow:hover h1 {
	color: #fff;
}

.white {
	color: #fff;
}

.red h1, 
.blue h1, 
.pink h1,
.green h1,
.orange h1,
.purple h1,
.dark-blue h1,
.yellow h1 {
	position: absolute;
	bottom: 5rem;
	left: 4rem;
}

svg {
	width: 10%;
	position: absolute;
	bottom: 2.8rem;
	left: 4rem;
}

.homepage-link,
.white-logo {
	z-index: 1;
	position: absolute;
	z-index: 150;
}

.white-logo {
	position: absolute;
	width: 26%;
	left: 4.5rem;
	top: 3rem;
}

.homepage-link {
	color: #444242;
	right: 4.5rem;
	top: 3rem;
	border-bottom: 1px solid #444242;
}

.homepage-link:hover {
	text-decoration: none;
}



